<div class="container">
	<img class="restaurant" src={{model.image}} alt={{model.name}}>
	{{model.name}}
	<div class="container">
		{{edit-restaurant model=model editRestaurant='editRestaurant'}}
	</div>
	<div class="container">
		{{review-tile model=model createReview='createReview'}}
	</div>
</div>